 /*ESTILO GERAL*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fff;
    height: 100vh;
    color: #000;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}
.flex{
    display: flex;
    
}

/*EStilo do Cabecalho*/
header{
    padding: 40px 4%;
    
}

header > .interface{
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.interface.span  h1{
    color: #00FF88;
}

section.Habilidades{
    padding: 40px 4%;
    display: inline-block;
    margin-right: 10px;
}

.Habilidades .Habilidades-box{
    color: #00FF88;
    padding: 40px 4%;
    margin-top: 45px;
    transition: .2s;
       
}

.Habilidades .Habilidades-box:hover{
    transform: scale(1.05);
    box-shadow: 2px 2px 8px #00FF88;
}

.Habilidades .Habilidades-box i{
    font-size: 100px;
    color: #00FF88;
    padding: 40px 4%;
    display: flex;
}

.Habilidades.Habilidades-box h3{
    font-size: 26px;
margin: 15 0;
padding: 15px 4%;

}
.Habilidades.Habilidades p{
    color: #000;
    padding: 10px 4%;
}
